<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste doloribus illum modi. Tempore fugit qui ut iure eaque fugiat excepturi corrupti totam sit, modi itaque aut, voluptate explicabo. Incidunt, dolor? </p>
    <div  class="label" >
      <ion-card >    
        <ion-card-content>
            <ion-item   lines="none">
                <ion-label>A : reponse 1</ion-label>
            </ion-item>
      
        </ion-card-content>
      </ion-card>

      <ion-card >    
        <ion-card-content>
            <ion-item   lines="none">
                <ion-label>B : reponse 2</ion-label>
            </ion-item>
      
        </ion-card-content>
      </ion-card>

      <ion-card >    
        <ion-card-content>
            <ion-item   lines="none">
                <ion-label>C : reponse 3</ion-label>
            </ion-item>
      
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>
